.activitylevel {
  display: flex;
  padding: 1rem 0px;
}

.al {
  width: 35%;
  font-size: 0.9rem;
  color: grey;
  font-weight: 550;
  display: grid;
  place-items: center;
}
.activitylevelOptions {
  display: flex;
  width: 65%;
  flex-direction: column;
}
.activitylevelOptions div h3 {
  color: rgb(104, 96, 96);
}
.activity-checkbox {
  display: flex;
}
.hello {
  /* width: 80%; */
  display: flex;
  gap: .3rem;
}
.checkbox-div {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 30%;
}
.circleCheckBox {
  height: 1.8rem;
  width: 1.8rem;
}
.checkBox-div1 {
  display: flex;
  flex-direction: column;
}
.activity-img {
  width: 50px;
}
.h6 {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(104, 96, 96);
}
.p {
  font-size: 0.8rem;
  color: grey;
}
